@charset "UTF-8";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

* {
    margin: 0;
    box-sizing: border-box;

}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', 'Lato-Black', sans-serif;
    font-size: 100%;
    line-height: 1.45;
    font-weight: 100;
    font-size: 100%;
    line-height: 1.45;
    color: #141414;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: gray;
}

img {
    max-width: 100%;
}

.btn {
    display: inline-block;
    margin: 1rem 0;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    background: #007ece;
    letter-spacing: .02em;
    border: none;
    border-radius: 5px;
    padding: .8rem 1rem .9rem;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 43.75em) {
    .btn {
        padding: .5rem .7rem .6rem;
        font-size: 1rem;
    }
}

.btn:hover {
    background: #008ee8;
    color: #fff;
}

.btn:focus, .btn:active, .btn:focus:active {
    background: #006eb5;
    border-color: #006eb5;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

.container h1 {
    font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
}

header {
    color: white;
    background: #007ece;
    padding: 10rem 0;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

@media (max-width: 43.75em) {
    header {
        padding: 2rem 0;
    }
}

header h1 {
    font-size: 4.2rem;
    margin: 0 0 1rem;
}

@media (max-width: 43.75em) {
    header h1 {
        font-size: 2rem;
    }
}

header h2 {
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0 0 1rem;
    letter-spacing: 1rem;
}

@media (max-width: 43.75em) {
    header h2 {
        font-size: 0.9rem;
    }
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

section {
    background: #fff;
    color: #1c262b;
    padding: 4.5rem 0;
}

@media (max-width: 43.75em) {
    section {
        padding: 2rem 0;
    }
}

section.section--primary {
    background: #007ece;
    color: #fff;
}

section.section--primary--alt {
    background: #27a4f4;
    color: #fff;
}

section.section--primary--light {
    background: white;
}

section.section--grey {
    background: #1c262b;
    color: #fff;
}

section.section--grey--light {
    background: #29363e;
    color: #fff;
}

section h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    margin: 0 0 1rem;
    width: 100%;
}

@media (max-width: 43.75em) {
    section h3 {
        font-size: 1.5rem;
    }
}

section li {
    font-size: 1.2rem;
    font-weight: 300;
}

section p {
    font-size: 1.2rem;
    font-weight: 300;
}

.col, .col-7, .col-3, .col-5 {
    margin: 0 1.5%;
    display: inline-block;
    vertical-align: top;
}

.col-7 {
    width: 64%;
}

@media (max-width: 43.75em) {
    .col-7 {
        width: 100%;
        margin: 0;
    }
}

.col-3 {
    width: 29%;
}

@media (max-width: 43.75em) {
    .col-3 {
        width: 100%;
        margin: 0;
    }
}

.col-5 {
    width: 30%;
}

@media (max-width: 34.375em) {
    .col-5 {
        width: 60%;
        margin: 0;
    }
}

.details {
    text-align: left;
}

.details h3 {
    font-size: 2rem;
    text-align: left;
}

@media (max-width: 43.75em) {
    .details-img--ball {
        height: 200px;
        width: auto;
        margin: 0 auto;
    }
}

.features {
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 2rem;
}

.features:hover {

}

@media (max-width: 43.75em) {
    .features {
        width: 100%;
        margin: 0;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .features:last-child {
        /*border: none;*/
    }
}

.features i {
    font-size: 4rem;
    margin: 0 0 2rem 0;
}

@media (max-width: 43.75em) {
    .features i {
        font-size: 1.5rem;
        width: 2rem;
        text-align: center;
        margin: 0 0 1rem 0;
        float: left;
    }
}

.features p {
    margin: 0 0 1rem 0;
    font-size: 1rem;
}

/*@media (max-width: 43.75em) {*/
/*.features p {*/
/*margin-left: 3rem;*/
/*}*/
/*}*/

blockquote {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
}

blockquote:before {
    display: inline-block;
    color: #007ece;
    font-size: 2rem;
    content: '\201C';
}

blockquote p {
    margin: 0;
    display: inline;
    font-size: 1.5rem;
}

@media (max-width: 43.75em) {
    blockquote p {
        font-size: 1.2rem;
    }
}

blockquote cite {
    font-size: 1rem;
    display: block;
    margin: .5rem 0 0 1.2rem;
    text-style: italic;
}

@media (max-width: 43.75em) {
    blockquote cite {
        font-size: .8rem;
    }
}

blockquote cite:before {
    content: '–';
}

footer {
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    font-size: .8rem;
    background: #3F3F3F;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    display: block;
    padding: .4rem .7rem;
    font-size: .9rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

footer ul li a:hover {
    color: white;
}

.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

.bg-image {
    background: #007ece;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.bg-image:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #333 url("/resources/images/sea-water-ocean-waves.jpg") no-repeat top center;
    background-size: cover;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: .8;
}

.bg-image.bg-image-2:before {
    opacity: .6;
    background-image: url("/resources/images/sea-water-ocean-waves.jpg");
    background-position: center center;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #737373 url("/resources/images/cd-top-arrow.svg") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

.price {
    display: block;
    background: #007ecd;
    margin: 15px 0 10px 0;
    text-align: center;
    font-size: 23px;
    padding: 17px 0 17px 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.social-buttons {
    display: block;
    height: 90px;
    margin: auto;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-button {
    display: inline-block;
    /*background-color: #fff;*/
    /*width: 90px;*/
    /*height: 90px;*/
    font-size: 35px;
    line-height: 90px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99;
    border-radius: 28%;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-button.facebook:before {
    background-color: #fff;
}

.social-button.facebook .fa {
    color: #fff;
}

.social-button.instagram:before {
    background-color: #fff;
}

.social-button.instagram .fa {
    color: #fff;
}

.social-button.vkontakte:before {
    background-color: #fff;
}

.social-button.vkontakte .fa {
    color: #fff;
}

.social-button:focus:before, .social-button:hover:before {
    top: -10%;
    left: -10%;
}

.social-button:focus .fa, .social-button:hover .fa {
    color: lightblue;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.cd-title {
    position: relative;
    height: 160px;
    width: 1400px;
    line-height: 230px;
    text-align: center;
}

.cd-title h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    .cd-title {
        line-height: 250px;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-title {
        height: 200px;
        line-height: 300px;
    }

    .cd-title h1 {
        font-size: 3rem;
    }
}

.cd-intro {
    width: 90%;
    max-width: 768px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .cd-intro {
        margin: 5em auto;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-intro {
        margin: 6em auto;
        margin-right: 34%;
    }
}

.cd-headline {
    font-size: 1rem;
    line-height: 1.2;
    width: 1100px;

}

@media only screen and (min-width: 768px) {
    .cd-headline {
        font-size: 4.4rem;
        font-weight: 300;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-headline {
        font-size: 4rem;
    }
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.cd-words-wrapper b.is-visible {
    position: relative;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

.cd-headline.rotate-1 .cd-words-wrapper {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}

.cd-headline.rotate-1 b {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.cd-headline.rotate-1 b.is-visible {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-animation: cd-rotate-1-in 1.2s;
    -moz-animation: cd-rotate-1-in 1.2s;
    animation: cd-rotate-1-in 1.2s;
}

.cd-headline.rotate-1 b.is-hidden {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-animation: cd-rotate-1-out 1.2s;
    -moz-animation: cd-rotate-1-out 1.2s;
    animation: cd-rotate-1-out 1.2s;
}

@-webkit-keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        -webkit-transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(360deg);
        opacity: 1;
    }
}

@-moz-keyframes cd-rotate-1-in {
    0% {
        -moz-transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        -moz-transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        -moz-transform: rotateX(360deg);
        opacity: 1;
    }
}

@keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        -webkit-transform: rotateX(120deg);
        -moz-transform: rotateX(120deg);
        -ms-transform: rotateX(120deg);
        -o-transform: rotateX(120deg);
        transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
        -o-transform: rotateX(360deg);
        transform: rotateX(360deg);
        opacity: 1;
    }
}

@-webkit-keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cd-rotate-1-out {
    0% {
        -moz-transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        -moz-transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        -moz-transform: rotateX(180deg);
        opacity: 0;
    }
}

@keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        -moz-transform: rotateX(-40deg);
        -ms-transform: rotateX(-40deg);
        -o-transform: rotateX(-40deg);
        transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    /*background-color: #aebcb9;*/
}

h3 {
    font-size: 2rem;
    font-weight: 100;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected {
    /*background-color: #aebcb9;*/
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #0d0d0d;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}

.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

.discount {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    margin: 100px auto;
    position: relative;
    display: block;
    background: white;
    width: 100%;
    height: 30px;
    line-height: 32px;
    font-size: 15px;

    color: black;
    text-align: center;
    border-radius: 4px;
}

.discount:after {
    content: " ";
    height: 22px;
    width: 22px;
    background: white;
    position: absolute;
    top: 4px;
    left: -9px;
    border-radius: 4px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.discount:before {
    content: "";
    width: 7px;
    height: 7px;
    background: white;
    position: absolute;
    top: 12px;
    left: 0px;
    z-index: 1;
    border-radius: 10px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
    .cd-headline {
        width: 100%;

    }
}

@media only screen and (min-width: 768px) {
    .cd-header {
        height: 70px;
        background-color: transparent;
    }
}

#cd-logo {
    float: left;
    margin: 13px 0 0 5%;
}

#cd-logo img {
    display: block;
}

@media only screen and (min-width: 768px) {
    #cd-logo {
        margin: 23px 0 0 5%;
    }
}

.cd-primary-nav {
    /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    /*background: url("../assets/cd-icon-menu.svg") no-repeat center center;*/
}

.cd-primary-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.cd-primary-nav ul.is-visible {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-primary-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: #21272c;
    border-top: 1px solid #333c44;
    color: #ffffff;
}

@media only screen and (min-width: 768px) {
    .cd-primary-nav {
        /* reset navigation values */
        width: auto;
        height: auto;
        background: none;
    }

    .cd-primary-nav ul {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        line-height: 70px;
    }

    .cd-primary-nav ul.is-visible {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .cd-primary-nav li {
        display: inline-block;
        margin-left: 1em;
    }

    .cd-primary-nav a {
        display: inline-block;
        height: auto;
        font-weight: 600;
        line-height: normal;
        background: transparent;
        padding: .6em 1em;
        border-top: none;
    }
}

/* --------------------------------

Slider

-------------------------------- */
.cd-hero {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-hero-slider {
    position: relative;
    height: 360px;
    overflow: hidden;
}

.cd-hero-slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.cd-hero-slider li.selected {
    /* this is the visible slide */
    position: relative;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.cd-hero-slider li.move-left {
    /* slide hidden on the left */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.cd-hero-slider li.is-moving, .cd-hero-slider li.selected {
    /* the is-moving class is assigned to the slide which is moving outside the viewport */
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

@media only screen and (min-width: 768px) {
    .cd-hero-slider {
        height: 500px;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-hero-slider {
        height: 680px;
    }
}

/* --------------------------------

Single slide style

-------------------------------- */
.cd-hero-slider li {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cd-hero-slider li:first-of-type {
    background-color: #2c343b;
}

.cd-hero-slider li:nth-of-type(2) {
    background-color: #3d4952;
}

.cd-hero-slider li:nth-of-type(3) {
    background-color: #586775;
}

.cd-hero-slider li:nth-of-type(4) {
    background-color: #2c343b;
}

.cd-hero-slider li:nth-of-type(5) {
    background-color: #2c343b;
}

.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
    position: absolute;
    width: 100%;
    height: 100%;
    /*z-index: 1;*/
    left: 0;
    top: 0;
    /* this padding is used to align the text */
    /*padding-top: 100px;*/
    text-align: center;
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.cd-hero-slider .cd-img-container {
    /* hide image on mobile device */
    display: none;
}

.cd-hero-slider .cd-img-container img {
    position: absolute;
    /*left: 50%;*/
    /*top: 50%;*/
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cd-hero-slider .cd-bg-video-wrapper {
    /* hide video on mobile device */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cd-hero-slider .cd-bg-video-wrapper video {
    /* you won't see this element in the html, but it will be injected using js */
    display: block;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
    position: absolute;
    /*left: 50%;*/
    /*top: 50%;*/
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cd-hero-slider h2, .cd-hero-slider p {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    line-height: 1.2;
    margin: 0 auto 14px;
    color: #ffffff;
    width: 90%;
    /*max-width: 400px;*/
}

.cd-hero-slider h2 {
    font-size: 2.4rem;
}

.cd-hero-slider p {
    font-size: 1.4rem;
    line-height: 1.4;
}

.cd-hero-slider .cd-btn {
    display: inline-block;
    /*padding: 1.2em 1.4em;*/
    /*margin-top: .8em;*/
    /*background-color: rgba(212, 68, 87, 0.9);*/
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-hero-slider .cd-btn.secondary {
    background-color: rgba(22, 26, 30, 0.8);
}

.cd-hero-slider .cd-btn:nth-of-type(2) {
    margin-left: 1em;
}

.no-touch .cd-hero-slider .cd-btn:hover {
    background-color: #d44457;
}

.no-touch .cd-hero-slider .cd-btn.secondary:hover {
    background-color: #161a1e;
}

@media only screen and (min-width: 768px) {
    .cd-hero-slider li:nth-of-type(2) {
        background-image: none;
    }

    .cd-hero-slider li:nth-of-type(3) {
        background-image: none;
    }

    .cd-hero-slider li:nth-of-type(4) {
        background-image: none;
    }

    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        /*padding-top: 150px;*/
    }

    .cd-hero-slider .cd-bg-video-wrapper {
        display: block;
    }

    .cd-hero-slider .cd-half-width {
        width: 45%;
    }

    .cd-hero-slider .cd-half-width:first-of-type {
        left: 5%;
    }

    .cd-hero-slider .cd-half-width:nth-of-type(2) {
        right: 5%;
        left: auto;
    }

    .cd-hero-slider .cd-img-container {
        display: block;
    }

    .cd-hero-slider h2, .cd-hero-slider p {
        max-width: 520px;
    }

    .cd-hero-slider h2 {
        font-size: 2.4em;
        font-weight: 300;
    }

    .cd-hero-slider .cd-btn {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 220px;
    }

    .cd-hero-slider h2, .cd-hero-slider p {
        margin-bottom: 20px;
    }

    .cd-hero-slider h2 {
        font-size: 3.2em;
    }

    .cd-hero-slider p {
        font-size: 1.6rem;
    }
}

/* --------------------------------

Single slide animation

-------------------------------- */
@media only screen and (min-width: 768px) {
    .cd-hero-slider .cd-half-width {
        opacity: 0;
        -webkit-transform: translateX(40px);
        -moz-transform: translateX(40px);
        -ms-transform: translateX(40px);
        -o-transform: translateX(40px);
        transform: translateX(40px);
    }

    .cd-hero-slider .move-left .cd-half-width {
        -webkit-transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        -o-transform: translateX(-40px);
        transform: translateX(-40px);
    }

    .cd-hero-slider .selected .cd-half-width {
        /* this is the visible slide */
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .cd-hero-slider .is-moving .cd-half-width {
        /* this is the slide moving outside the viewport
        wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
        -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
        -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
        transition: opacity 0s 0.5s, transform 0s 0.5s;
    }

    .cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),
    .cd-hero-slider li.selected.from-right .cd-half-width:first-of-type {
        /* this is the selected slide - different animation if it's entering from left or right */
        -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
        -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
        transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
    }

    .cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,
    .cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2) {
        /* this is the selected slide - different animation if it's entering from left or right */
        -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
        -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s;
        transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
    }

    .cd-hero-slider .cd-full-width h2,
    .cd-hero-slider .cd-full-width p,
    .cd-hero-slider .cd-full-width .cd-btn {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    .cd-hero-slider .move-left .cd-full-width h2,
    .cd-hero-slider .move-left .cd-full-width p,
    .cd-hero-slider .move-left .cd-full-width .cd-btn {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    .cd-hero-slider .selected .cd-full-width h2,
    .cd-hero-slider .selected .cd-full-width p,
    .cd-hero-slider .selected .cd-full-width .cd-btn {
        /* this is the visible slide */
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .cd-hero-slider li.is-moving .cd-full-width h2,
    .cd-hero-slider li.is-moving .cd-full-width p,
    .cd-hero-slider li.is-moving .cd-full-width .cd-btn {
        /* this is the slide moving outside the viewport
        wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
        -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
        -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
        transition: opacity 0s 0.5s, transform 0s 0.5s;
    }

    .cd-hero-slider li.selected h2 {
        -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
        -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
        transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
    }

    .cd-hero-slider li.selected p {
        -webkit-transition: opacity 0.4s 0.3s, -webkit-transform 0.5s 0.3s;
        -moz-transition: opacity 0.4s 0.3s, -moz-transform 0.5s 0.3s;
        transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
    }

    .cd-hero-slider li.selected .cd-btn {
        -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s, background-color 0.2s 0s;
        -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s, background-color 0.2s 0s;
        transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s;
    }
}

/* --------------------------------

Slider navigation

-------------------------------- */
.cd-slider-nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    text-align: center;
    height: 55px;
    background-color: rgba(0, 1, 1, 0.5);
}

.cd-slider-nav nav, .cd-slider-nav ul, .cd-slider-nav li, .cd-slider-nav a {
    height: 100%;
}

.cd-slider-nav nav {
    display: inline-block;
    position: relative;
}

.cd-slider-nav .cd-marker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 640px;
    height: 100%;
    /*color: #d44457;*/
    /*background-color: #ffffff;*/
    box-shadow: inset 0 2px 0 currentColor;
    -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
    -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
    transition: transform 0.2s, box-shadow 0.2s;
}

.cd-slider-nav .cd-marker.item-2 {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.cd-slider-nav .cd-marker.item-3 {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.cd-slider-nav .cd-marker.item-4 {
    -webkit-transform: translateX(300%);
    -moz-transform: translateX(300%);
    -ms-transform: translateX(300%);
    -o-transform: translateX(300%);
    transform: translateX(300%);
}

.cd-slider-nav .cd-marker.item-5 {
    -webkit-transform: translateX(400%);
    -moz-transform: translateX(400%);
    -ms-transform: translateX(400%);
    -o-transform: translateX(400%);
    transform: translateX(400%);
}

.cd-slider-nav ul::after {
    clear: both;
    content: "";
    display: table;
}

.cd-slider-nav li {
    display: inline-block;
    width: 300px;
    float: left;
}

.cd-slider-nav li.selected a {
    color: #2c343b;
}

.no-touch .cd-slider-nav li.selected a:hover {
    background-color: transparent;
}

.cd-slider-nav a {
    display: block;
    position: relative;
    padding-top: 35px;
    font-size: 1rem;
    font-weight: 700;
    color: #a8b4be;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-slider-nav a::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    /*background: url(../assets/cd-icon-navigation.svg) no-repeat 0 0;*/
}

.no-touch .cd-slider-nav a:hover {
    background-color: rgba(0, 1, 1, 0.5);
}

.cd-slider-nav li:first-of-type a::before {
    background-position: 0 0;
}

.cd-slider-nav li.selected:first-of-type a::before {
    background-position: 0 -24px;
}

.cd-slider-nav li:nth-of-type(2) a::before {
    background-position: -24px 0;
}

.cd-slider-nav li.selected:nth-of-type(2) a::before {
    background-position: -24px -24px;
}

.cd-slider-nav li:nth-of-type(3) a::before {
    background-position: -48px 0;
}

.cd-slider-nav li.selected:nth-of-type(3) a::before {
    background-position: -48px -24px;
}

.cd-slider-nav li:nth-of-type(4) a::before {
    background-position: -72px 0;
}

.cd-slider-nav li.selected:nth-of-type(4) a::before {
    background-position: -72px -24px;
}

.cd-slider-nav li:nth-of-type(5) a::before {
    background-position: -96px 0;
}

.cd-slider-nav li.selected:nth-of-type(5) a::before {
    background-position: -96px -24px;
}

@media only screen and (min-width: 768px) {
    .cd-slider-nav {
        height: 80px;
    }

    .cd-slider-nav .cd-marker,
    .cd-slider-nav li {
        width: 95px;
    }

    .cd-slider-nav a {
        padding-top: 48px;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .cd-slider-nav a::before {
        top: 18px;
    }
}

/* --------------------------------

Main content

-------------------------------- */
.cd-main-content {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    padding: 2em 0;
}

.cd-main-content p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #999999;
    margin: 2em 0;
}

@media only screen and (min-width: 1170px) {
    .cd-main-content {
        padding: 3em 0;
    }

    .cd-main-content p {
        font-size: 1.6rem;
    }
}

/* --------------------------------

Javascript disabled

-------------------------------- */
.no-js .cd-hero-slider li {
    display: none;
}

.no-js .cd-hero-slider li.selected {
    display: block;
}

.no-js .cd-slider-nav {
    display: none;
}


/*.slider {*/
/*width: 100%;*/
/*overflow: hidden;*/
/*position: relative;*/
/*}*/
/*.slide-container {*/
/*height: 200px;*/
/*position: relative;*/
/*overflow: hidden;*/
/*background: lightblue;*/
/*transition: 0.4s;*/
/*}*/
/*.slide {*/
/*position: relative;*/
/*float: left;*/
/*text-align: center;*/
/*line-height: 200px;*/
/*}*/
/*.controls a {*/
/*position: absolute;*/
/*top: 80px;*/
/*text-decoration: none;*/
/*color: white;*/
/*background-color: rgba(0, 0, 0, 0.5);*/
/*padding: 10px;*/
/*}*/
/*.controls a:hover {*/
/*background: black;*/
/*transition: 0.4s;*/
/*}*/
/*.controls .next {*/
/*right: 0;*/
/*}*/

.preloader_hide {
    opacity: 0;
    width: 100%;
    overflow-x: hidden;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    z-index: 99999;
}

#preloader div {
    position: fixed;
    left: 0;
    top: 50%;
    display: block;
    width: 100%;
    height: 10px;
    margin: -5px 0 0;
    text-align: center;
}

#preloader em {
    display: inline-block;
    vertical-align: top;
    margin: 0 2px 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    animation: 1.2s ease-in-out normal none infinite preload_animate;
    -webkit-animation: 1.2s ease-in-out normal none infinite preload_animate;
}

#preloader em:nth-child(1) {
    animation-delay: 0s;
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

#preloader em:nth-child(2) {
    animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

#preloader em:nth-child(3) {
    animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

#preloader em:nth-child(4) {
    animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

#preloader em:nth-child(5) {
    animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

@-webkit-keyframes preload_animate {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes preload_animate {
    0% {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.5);
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

form {
    width: 600px;
    padding: 20px;
    margin: auto;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #dadada;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    color: #272c32;
    margin-bottom: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid #61BFF9;
    outline: 0;
}

input[type="submit"] {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #61BFF2;
    border: 0;
    padding: 16px 0;
    color: #fff;
    font-weight: 800;
    width: 100%;
    font-size: 1.1em
}

input[type="submit"]:hover {
    background:#89cff5 ;
}

input[type="text"]:after {
    content: 'ddd';
    background: #ccc;
    height: 40px;
    width: 40px;
}

.selection {
    border: 1px solid #dadada;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    color: #272c32;
    margin-bottom: 5px;
    background: #fff;

}

.ph {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    right: 6px;
    top: 9px;
    padding: 2px 5px;
    background: #61BFF9;
    color: #fff;
    display: none;
}

@media (max-width: 43.75em) {

    form {
        width: 300px;
        padding: 20px;
        margin: auto;
        background: #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
}